In [1]:
import numpy as np
import pandas as pd
import matplotlib
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import svm

hr = pd.read_csv("data/processed_data.csv")
#hr.rename(columns={'Unnamed: 0': 'id'}, inplace=True)
hr = hr.drop(["Unnamed: 0"], axis=1)
target = "Attrition_Yes"
hr.head()

,Age,DailyRate,DistanceFromHome,EmployeeNumber,HourlyRate,MonthlyIncome,MonthlyRate,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,...,RelationshipSatisfaction_1,RelationshipSatisfaction_2,RelationshipSatisfaction_3,RelationshipSatisfaction_4,OverTime_No,OverTime_Yes,WorkLifeBalance_1,WorkLifeBalance_2,WorkLifeBalance_3,WorkLifeBalance_4
0,41,1102,1,1,94,5993,19479,8,11,8,...,1,0,0,0,0,1,1,0,0,0
1,49,279,8,2,61,5130,24907,1,23,10,...,0,0,0,1,1,0,0,0,1,0
2,37,1373,2,4,92,2090,2396,6,15,7,...,0,1,0,0,0,1,0,0,1,0
3,33,1392,3,5,56,2909,23159,1,11,8,...,0,0,1,0,0,1,0,0,1,0
4,27,591,2,7,40,3468,16632,9,12,6,...,0,0,0,1,1,0,0,0,1,0

In [2]:
# split train test
from sklearn.model_selection import train_test_split
temp = pd.concat([hr.iloc[:,:14], hr.iloc[:,16:]], 1)

X_train, X_test, y_train, y_test = train_test_split(temp, hr.iloc[:,15], test_size=0.3, random_state=12)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1029, 78)
(441, 78)
(1029,)
(441,)

In [ ]:
clf = svm.SVC()
clf.fit(X_train, y_train)

In [ ]:
clf.score(X_test, y_test)